# === Logs ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Dependency directories ===
node_modules/
dist/
dist-ssr/

# === Local environment ===
*.local
.env

# === .NET Build Artifacts ===
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# === Rider/VS Code/VS/JetBrains ===
.vscode/
!.vscode/extensions.json
.idea/
*.sln.iml
*.csproj.user
*.njsproj
*.ntvs*
*.sw?

# === macOS / Windows ===
.DS_Store
Thumbs.db

# === Docker ===
**/docker-compose*
**/.dockerignore
Dockerfile
